body {background-color: #29293d;}

#canvas{
  border:2px solid red;
  width:10000px;
  height:700px;
  margin:0 auto;
  position:relative;
  top:100px;

}

#counter{
  border:2px solid blue;
  width:100px;
  height:100px;
  top:123px;
  left:100px;
  position:absolute;
  /*z-index:-1;*/
  /*opacity:0.9;*/
  background-image: url(../img/bat.png);
}

h1{  background-color:white;
     position:absolute;
     width:270px;
     height:170px;
     top:250px;
     left:320px;
     font-size: 27px;
     text-align: center;
}

#imgframe {
  position:absolute;
  width:350px;
  height:250px;
  top:150px;
  left:300px;
}

#imgwebcenter {
  width:310px;
  height: 210px;
  position:absolute;
  top:0px;
  left:0px;

  -webkit-animation: shake 8s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 8s infinite;
}
@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
  60% { transform: translate(-2px, 0.5px) rotate(0deg); }
  70% { transform: translate(1px, 0.5px) rotate(-1deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(1deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-1deg); }
}

#imgwebcorner_spider{
  width:310px;
  height: 210px;
  position:absolute;
  top:100px;
  left:3890px;
  z-index:10;
}
#imgwebright_15{
  width:400px;
  height: 400px;
  position:absolute;
  top:-60px;
  left:7000px;
  z-index:10;
  -webkit-animation: shake 30s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 30s infinite;
}

#imgwebcorner{
  width:200px;
  height: 200px;
  position:absolute;
  top:109px;
  left:1300px;
  z-index:10;
}

#imgspider {
  width:100px;
  height: 50px;
  position:absolute;
  top:160px;
  left:200px;
  -webkit-animation: shake 8s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 8s infinite;
}
@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
  60% { transform: translate(-2px, 0.5px) rotate(0deg); }
  70% { transform: translate(1px, 0.5px) rotate(-1deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(1deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-1deg); }
}

#imgspidersmall {
  width:50px;
  height: 50px;
  position:absolute;
  top:100px;
  left:670px;
  width:50px;
  -webkit-transition: height 0.5s, width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s, width 0.5s;
}
#imgspidersmall:hover{
   height: 0px;
   width:0px;
}
#imgbats{
  width:550px;
  height: 550px;
  position:absolute;
  top:0px;
  left:9500px;
  -webkit-animation: shake 1s infinite; /* Safari 4.0 - 8.0 */
    animation: shake 1s infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(2px, 1px) rotate(0deg); }
  40% { transform: translate(3px, -1px) rotate(1deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-1deg); }
  60% { transform: translate(-2px, 0.5px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-0.5px, 1px) rotate(1deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-1deg); }
}

#img1 {
  width:275px;
  height: 400px;
  position:absolute;
  top:100px;
  left:1300px;

  background-image: url(../img/collages/portraitofman.png);
  background-repeat:no-repeat;
  z-index:10;
}

#wall1{
  width:400px;
  height: 700px;
  position:absolute;
  top:0px;
  left:1200px;
  background-color: grey;
}


#wall2{
  width:400px;
  height: 700px;
  position:absolute;
  top:0px;
  left:2100px;
  background-color: grey;
}

/*#wall1:hover{
  width:600px;
  height: 700px;
  position:absolute;
  top:0px;
  left:1200px;
  background-color: #e0e0eb;
  transition: 5s ease;
}

#wall2:hover{
  width:600px;
  height: 700px;
  position:absolute;
  top:0px;
  left:2100px;
  background-color: #e0e0eb;
  transition: 5s ease;
}
*/
/*#imglight {
  width:250px;
  position:absolute;
  top:0px;
  left:1220px;

}*/

#img2 {width:300px;
  height: 360px;
  position:absolute;
  top:100px;
  left:2100px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/girlwithpearl.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img3 {width:230px;
  height: 300px;
  position:absolute;
  top:100px;
  left:3000px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/scream.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img4 {width:300px;
  height: 350px;
  position:absolute;
  top:100px;
  left:3900px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/adele.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img5 {width:300px;
  height: 348px;
  position:absolute;
  top:100px;
  left:4800px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/motherandchild.png);
  background-repeat:no-repeat;
  z-index:10;
}
#img6 {width:400px;
  height: 403px;
  position:absolute;
  top:100px;
  left:5700px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/lesdemoiselles.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img7 {width:300px;
  height: 364px;
  position:absolute;
  top:100px;
  left:6600px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/stilllife.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img8 {width:700px;
  height: 518px;
  position:absolute;
  top:100px;
  left:7300px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/guernica.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img9 {width:250px;
  height: 300px;
  border:1px solid black;
  position:absolute;
  top:100px;
  left:8400px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/mayawithdoll.jpg);
  background-repeat:no-repeat;
  z-index:10;
}
#img10 {
  width:300px;
  height: 299px;
  border:1px solid black;
  position:absolute;
  top:100px;
  left:9300px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 1.0);
  background-image: url(../img/collages/childanddoves.jpg);
  background-repeat:no-repeat;
  z-index:10;
}


#img1:hover {
  width: 300px;
  height: 383px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/portraitofman_mast.jpg);
}
#img2:hover {
  width: 300px;
  height: 335px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/girlwithpearl_mast.jpg);
}
#img3:hover {
  width: 235px;
  height: 300px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/scream_mast.jpg);
}
#img4:hover {
  width: 300px;
  height: 300px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/adele_mast.jpg);
}
#img5:hover {
  width: 300px;
  height: 410px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/motherandchild_mast.jpg);
}
#img6:hover {
  width: 400px;
  height: 416px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/lesdemoiselles_mast.jpg);
}
#img7:hover {
  width: 300px;
  height: 488px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/stilllife_mast.jpg);
}
#img8:hover {
  width: 700px;
  height: 316px;
  transition: 3s ease;
  background-image: url(../img/masterpieces/guernica_mast.jpg);
}
#img9:hover {
  width: 400px;
  height: 316px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/mayawithdoll_mast.jpg);
}
#img10:hover {
  width: 300px;
  height: 372px;
  transition: 1.5s ease;
  background-image: url(../img/masterpieces/childwithdoves_mast.jpg);
}




/* relative, absolute, fixed, static
http://www.barelyfitz.com/screencast/html-training/css/positioning/
http://jsbin.com/yicata/2/
*/
